h2 {
    color: var(--gray-900);
}
p {
    font-size: 0.875rem;
    color: var(--gray-400);
}

.title {
    padding: 1.25rem;
}
.graphic {
    color: var(--gray-900);
    padding: 3.25rem;
}

.card {
    margin-right: 0.875rem;
    margin-left: 0.875rem;
    border-radius: 0.375rem;
    margin-top: 2.25rem;
    background-color: var(--gray-300);
}
.addMetrics {
    color: var(--gray-800);
    margin-right: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}