a {
    text-decoration: none;
    color: var(--gray-500);
}

.list {
   
    display: flex;
    font-size: 0.856rem;
    gap: 1.25rem;
    align-items: center;    
}

.list:hover{
    color: var(--gray-800);
}

.pColor{
    color: var(--gray-500);
}