a {
    text-decoration: none;
    color: var(--gray-400);
    font-weight: bold;
}
.list {
    color: var(--gray-400);
    font-weight: bold;
    display: flex;
    font-size: 0.856rem;
    gap: 1.25rem;
    align-items: center;    
}